NODE_ENV=production

# Backend runtime
MONGODB_URI=mongodb+srv://rental-admin-09:nNCQueyS3LCgqY9t@cluster0.mg2uury.mongodb.net/?appName=Cluster0
SESSION_SECRET=replace-with-a-long-random-secret
SESSION_COOKIE_SECURE=false
SESSION_COOKIE_SAME_SITE=lax
CLIENT_URL=http://ae3b0296de3e84446aba612ab8ecb1ea-817453542.us-east-1.elb.amazonaws.com

# Frontend build/runtime
REACT_APP_API_URL=/api
